[toolchain]

[features]
resolution = true
skip-lint = false

[programs.devnet]
inco_token = "4cyJHzecVWuU2xux6bCAPAhALKQT8woBh4Vx3AGEGe5N"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
"test:token" = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/inco-token.ts"
"test:token2022" = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/inco-token-2022.ts"
